<nav class="navbar navbar-expand-lg" style="background-color: #FFF5EB;">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo-placeholder.png" alt="Eltorto" height="50" class="d-inline-block align-text-top">
      <span class="ms-2 fw-bold" style="color: #8B6B4D;">Eltorto</span>
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isMenuOpen">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/portfolio" routerLinkActive="active">Портфолио</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/order" routerLinkActive="active">Заказ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reviews" routerLinkActive="active">Отзывы</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
