<div class="category-list-page">
  <div class="page-header">
    <h2>Категории</h2>
  </div>

  <!-- Кнопка под поиском -->
  <div class="action-wrapper">
    <button mat-raised-button color="primary" class="admin-action-button" (click)="openCreateDialog()">
      <mat-icon>add</mat-icon>
      Добавить категорию
    </button>
  </div>

  <!-- Поиск -->
  <div class="search-wrapper">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Поиск по названию, slug или id</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="onSearch()" />
      <button mat-icon-button matSuffix *ngIf="searchTerm" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon matSuffix *ngIf="!searchTerm">search</mat-icon>
    </mat-form-field>
  </div>

  <!-- Таблица -->
  <app-data-table
    [data]="categories"
    [totalCount]="totalCount"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [config]="tableConfig"
    [loading]="loading"
    [filterableColumns]="['name', 'slug', 'id']"
    [filterValue]="searchTerm"
    [defaultSort]="{ active: 'id', direction: 'desc' }"
    (actionClick)="onTableAction($event)"
     (pageChange)="onPageChange($event)">
  </app-data-table>
</div>
